In [14]:
# Here we create a list dictionary of values for our data frame
people = {
    "FirstName" : ['John', 'Jacob', 'Jennifer', 'Jordan', 'Jaqueline'],
    "LastName": ['Jingle', 'Heimer', 'Schmidt', 'Daniel', 'Fishwall'],
    "Email": ['johnjingle33@fakeemail.com', 'jacobheimer@fakeemail.com', 'Jennifer32@email.com', 'jdaniel@email.com', 'jaqlfish@email.com']
}

In [13]:
import pandas as pd

In [15]:
df = pd.DataFrame(people)

In [16]:
df

   FirstName  LastName                       Email
0       John    Jingle  johnjingle33@fakeemail.com
1      Jacob    Heimer   jacobheimer@fakeemail.com
2   Jennifer   Schmidt        Jennifer32@email.com
3     Jordan    Daniel           jdaniel@email.com
4  Jaqueline  Fishwall          jaqlfish@email.com

In [20]:
df.set_index('Email', inplace=True)

In [22]:
df.index

Index(['johnjingle33@fakeemail.com', 'jacobheimer@fakeemail.com',
       'Jennifer32@email.com', 'jdaniel@email.com', 'jaqlfish@email.com'],
      dtype='object', name='Email')

In [25]:
df.loc['johnjingle33@fakeemail.com', 'FirstName']

'John'

In [26]:
df.iloc[0]

FirstName      John
LastName     Jingle
Name: johnjingle33@fakeemail.com, dtype: object

In [ ]:
df.reset_index(inplace=True)
df