In [2]:
# Here we create a list dictionary of values for our data frame
people = {
    "FirstName" : ['John', 'Jacob', 'Jennifer', 'Jordan', 'Jaqueline'],
    "LastName": ['Jingle', 'Heimer', 'Schmidt', 'Daniel', 'Fishwall'],
    "Email": ['johnjingle33@fakeemail.com', 'jacobheimer@fakeemail.com', 'Jennifer32@email.com', 'jdaniel@email.com', 'jaqlfish@email.com']
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)
df

   FirstName  LastName                       Email
0       John    Jingle  johnjingle33@fakeemail.com
1      Jacob    Heimer   jacobheimer@fakeemail.com
2   Jennifer   Schmidt        Jennifer32@email.com
3     Jordan    Daniel           jdaniel@email.com
4  Jaqueline  Fishwall          jaqlfish@email.com

In [5]:
df.sort_values(by='LastName', ascending=False)

   FirstName  LastName                       Email
2   Jennifer   Schmidt        Jennifer32@email.com
0       John    Jingle  johnjingle33@fakeemail.com
1      Jacob    Heimer   jacobheimer@fakeemail.com
4  Jaqueline  Fishwall          jaqlfish@email.com
3     Jordan    Daniel           jdaniel@email.com

In [6]:
df.sort_values(by=['LastName', 'FirstName'], ascending=False)

   FirstName  LastName                       Email
2   Jennifer   Schmidt        Jennifer32@email.com
0       John    Jingle  johnjingle33@fakeemail.com
1      Jacob    Heimer   jacobheimer@fakeemail.com
4  Jaqueline  Fishwall          jaqlfish@email.com
3     Jordan    Daniel           jdaniel@email.com

In [9]:
df.sort_values(by=['LastName','LastName'], ascending=[False, True], inplace=True)

In [10]:
df.sort_index()

   FirstName  LastName                       Email
0       John    Jingle  johnjingle33@fakeemail.com
1      Jacob    Heimer   jacobheimer@fakeemail.com
2   Jennifer   Schmidt        Jennifer32@email.com
3     Jordan    Daniel           jdaniel@email.com
4  Jaqueline  Fishwall          jaqlfish@email.com

In [ ]:
# Series values have the sort method as well.
df['LastName'].sort_values()